
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.box {
    color:white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0,0,0, 0.1);
    padding: 10px;
}

.box1 { background:yellow; }
.box2 { background:green; }
.box3 { background:orange; }
.box4 { background:red; }
.box5 { background:purple; }
.box6 { background:blue; }
.box7 { background:pink; }
.box8 { background:brown; }
.box9 { background:violet; }

.grid-tainer {
	display: flex;
	border:10px solid mistyrose;
	align-items: center;
	height: 100%;
	flex-wrap: wrap;
}

.box {
	width: calc(50% - 25%);
	margin: 10px;
}
